{% extends 'base.html' %}
{% block title %}Principal{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="text-center">
        <h1 class="display-4 font-weight-bold">¡Bienvenido al Proyecto de Grafos!</h1>
        <p class="lead mt-4">
        Este sistema te permite visualizar rutas entre ciudades y calcular caminos óptimos considerando ciudades costeras.
        </p>
        <p class="text-muted">
        Usa el menú lateral para comenzar a explorar las funcionalidades.
        </p>
    </div>
</div>
{% endblock %}
